<nav>
<%= link_to "Shows Index", shows_path %>
</nav>

<h1>Venues</h1>  

<%= link_to "New Venue", "/venues/new" %></br></br>


<% @venues.each do |venue| %> 
  <%= link_to "#{venue.name}", "/venues/#{venue.id}" %> Created At: <%= venue.created_at %></br>
      
  <%= button_to "Delete #{venue.name}", "/venues/#{venue.id}", method: :delete %>
<% end %>  

